.my-text-input {
  margin: auto;
  width: 100%;
  text-align: center;

  input {
      padding: 10px 15px;
      border-radius: 23px;
      width: 100%;
      max-width: 400px;
      background-color: #eceaeafc;
  }
}