.twitch-card {
    width: 100%;
    max-width: 520px;
    background-color: rgb(214, 214, 214);
    border: solid 1px rgb(85, 84, 84);
    border-radius: 35px;
    padding: 20px;
    position: relative;
}

my-textinput {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}