my-textinput {
    margin: 15px;
    display: block;
}

.login-container {
    display: block;
    padding: 40px;
    margin-top: 21vh;
    height: 200px;
    width: 520px;
    background: #c3c1c1;
    margin: 21vh auto;
    border-radius: 30px;
    box-shadow: 5px 10px 18px 4px;
}

my-button {
    margin-top: 30px;
    display: block;
}
.error{
    background: #851111ad;
}